body {
    background-image: url('/myndir/Backround\ mynd.jpeg'); /* Path to your image */
    height: 30rem;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    background-position: absolute;
}