.main .cards {
    display: block;  
    justify-content: space-between;  
    align-items: center;  
}

.card {
    flex: 1; 
    padding: 1rem;  
}
.card p {
    flex: 2;
    flex-grow: 1;
}
.card .takki {
    align-items: center;
}

@media (min-width: 501px) {
    .main .cards {
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: stretch;
        margin: 5rem;
    }

    .card {
        flex: 1;
        padding: 1rem;
        width: 30%; 
        flex-direction: column;
        justify-content: center; 
    }
        .card p {
            flex: 2;
            line-height: 2;
            flex-grow: 1;
        }
            .card .takki {
                flex: 0;
            }
}