.main.boxes {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main.boxes.box {
width: 40%;
}

@media (min-width: 501px) {
    .main.boxes {
        flex-direction: row;
    }

    .main.boxes.box {
        width: 30%; 
        max-width: 30%;
    }
}



