/* Fonts */
@font-face {
    font-family: 'Lota';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Lato-Regular.ttf) format("woff");
}

@font-face {
    font-family: 'Lota-Bold';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Lato-Bold.ttf) format("woff");
}