/* Footer stílar */
.footer {
    color: var(--color-white);
    background-color: var(--color-dark-brown);
    padding: var(--spacing);
    font-size: large;
    padding-right: 200px; /* Bætti við þessari reglu til að fá textann frá hægri brún */
}

.footer h2 {
    margin: 0.5rem 0;
    border-bottom: var(--border-small) solid var(--color-white);
    padding-bottom: 0.5rem;
    width: 150%; /* Þú gætir þurft að endurskoða þetta gildi eftir þörfum */
}

.footer p, .footer ul {
    text-align: left;
    list-style: none;
    margin: 0.5rem 0;
}

.footer ul {
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: var(--color-white);
}

/* Uppsetning fyrir innihald footersins */
.layout-footer {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    margin: 0 auto;
}

/* Media query */
@media (min-width: 500px) {
    .layout-footer {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Vinstrijafna textann þegar skjárinn er í fullri stærð */
    .footer p, .footer ul, .footer h2 {
        text-align: left;
    }

    /* Stílar fyrir línuna undir seinasta h2 í .layout-footer */
    .layout-footer > *:last-child h2 {
        width: 300%; /* Breyttu þessu gildi eftir þörfum */
    }
}

/* Stílar fyrir botnlínu */
.trade p {
    text-align: center;
}