/* Global Styles */
html, input, select, button {
    font-size: var(--font-base-body-px);
    font-family: var(--font-family-base);
}

h1, h2, h3 {
    margin-bottom: var(--spacing);
    font-family: var(--font-family-heading);
}
p {
    font-family: "Lota", Helvetica, Arial, sans-serif; /* Your desired font stack */
    font-size: 16px; 
   
  }
  

  body,
  html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }
  
  img {
    max-width: 100%;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 1.375em;
  }
  
  a {
    text-decoration: none;
  }