header {
    background-image: url('/myndir/virar.png'); /* Path to your image */
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat;
    text-align: center; /* Center the text horizontally */
    color: white; /* Set text color for better contrast */
}
