/* Styles for "voruval" section */
.voruval {
    background-color: var(--color-lightest-brown);
}

.voruval img {
    overflow: hidden;
}

.voruval .box {
    flex: 0 1 calc(24% - var(--spacing));
}

/* Box Styles */
.voruval .boxes {
    display: grid;
    grid-template-rows: auto;
    gap: var(--vertical-space);
    justify-items: center;
    width: 100%;
}

@media (min-width: 500px) {
    .voruval .boxes {
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: auto;
        padding: 10px;
    }
}

.voruval .boxes .box {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding: calc(var(--spacing) * 0.5);
    width: 100%;
    min-height: 100px;
    background-color: var(--color-white);
    border-radius: 5px;
}

@media (min-width: 500px) {
    .voruval .boxes .box {
        grid-column: span 6;
    }
}

@media (min-width: 1000px) {
    .voruval .boxes .box {
        grid-column: span 3;
    }
}

@media (max-width: 501px) {
    .voruval .boxes .box {
        grid-column: span 12;
    }
}

.voruval .boxes .box .title {
    margin-bottom: calc(var(--spacing) * 0.5);
    border-bottom: var(--border-small) solid var(--color-dark);
}

.voruval .boxes .box .content {
    flex: 1;
}

.voruval .boxes .box img {
    max-height: 400px;
    object-fit: cover;
    object-position: top center;
}

@media (min-width: 1000px) {
    .voruval .boxes .box img {
        max-height: 350px;
    }
}

img {
    max-width: 100%;
}

@media (min-width: 700px) {
    .prufa-top {
        width: 100%;
        height: 5rem;
        background: linear-gradient(to bottom right, white 50%, var(--color-lightest-brown) 50%);
    }

    .prufa-bottom {
        width: 100%;
        height: 5rem;
        background: linear-gradient(to top left, white 50%, var(--color-lightest-brown) 50%);
    }
    .bottom-bottom {
        width: 100%;
        height: 5rem;
        background: linear-gradient(to top left, var(--color-dark-brown) 50%, var(--color-lightest-brown) 50%);
    }
}