/* Header content */

position: absolute;
width: 1440px;
height: 565px;
left: calc(50% - 1440px/2);
top: calc(50% - 565px/2);



/* Tilboðsvika */

position: absolute;
width: 930px;
height: 192px;
left: 254px;
top: 176px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 160px;
line-height: 192px;
/* identical to box height, or 120% */
text-align: center;

color: #000000;



/* Keyptu græjunar hjá okkur! */

position: absolute;
width: 930px;
height: 53px;
left: 254px;
top: 380px;

/* Main heading */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 48px;
/* or 133% */
text-align: center;

color: #000000;

/* Products—new */

width: 1440px;
height: 674px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Background */

position: absolute;
width: 1440px;
height: 668px;
left: 0px;
top: 0px;

/* Coffee with milk */
background: #E1CEC2;


/* Nokkrar af nýjustu vörunum okkar */

position: absolute;
width: 563px;
height: 48px;
left: 257px;
top: 90px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 48px;
/* identical to box height, or 133% */

color: #000000;



/* Products */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 15px;
gap: 30px;

position: absolute;
width: 1440px;
height: 360px;
left: 0px;
top: 154px;



/* Product card */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 15px;
gap: 10px;

width: 330px;
height: 360px;

background: #FFFFFF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Product image */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 35px 0px;
gap: 10px;

margin: 0 auto;
width: 310px;
height: 160px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* alexandre-debieve-FO7JIlwjOtU-unsplash 1 */

margin: 0 auto;
width: 317px;
height: 213px;

background: url(alexandre-debieve-FO7JIlwjOtU-unsplash.jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

margin: 0 auto;
width: 300px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Tæknilegt móðurborð */

position: absolute;
width: 289px;
height: 21px;
left: 3px;
top: 0px;

/* Card heading */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 32px;
/* or 145% */

color: #000000;



/* Tags */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 300px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* New */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px;
gap: 10px;

width: 38px;
height: 26px;

background: #E1CEC2;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Nýtt */

width: 28px;
height: 16px;

/* Small */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* New */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px;
gap: 10px;

width: 114px;
height: 26px;

background: #E1CEC2;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Takmarkað magn */

width: 104px;
height: 16px;

/* Small */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Price */

margin: 0 auto;
width: 300px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* 189.000 kr. */

position: absolute;
width: 289px;
height: 21px;
left: 3px;
top: 0px;

/* Body */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

color: #000000;



/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 15px;
gap: 10px;

margin: 0 auto;
width: 300px;
height: 44px;

background: #FEFEFE;
border: 1px solid #6F4E37;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* SETJA Í KÖRFU */

margin: 0 auto;
width: 98px;
height: 24px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

color: #3C2A1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Product card */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 15px;
gap: 10px;

width: 330px;
height: 360px;

background: #FFFFFF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Product image */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 35px 0px;
gap: 10px;

margin: 0 auto;
width: 300px;
height: 160px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* alex-knight-2EJCSULRwC8-unsplash 1 */

margin: 0 auto;
width: 318px;
height: 212px;

background: url(alex-knight-2EJCSULRwC8-unsplash.jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

margin: 0 auto;
width: 300px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Vinalegur vinnuróbot */

position: absolute;
width: 297px;
height: 32px;
left: 3px;
top: 0px;

/* Card heading */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 32px;
/* identical to box height, or 145% */

color: #000000;



/* Tags */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 300px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* New */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px;
gap: 10px;

width: 38px;
height: 26px;

background: #E1CEC2;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Nýtt */

width: 28px;
height: 16px;

/* Small */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* New */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px;
gap: 10px;

width: 97px;
height: 26px;

background: #E1CEC2;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ekki fyrir börn */

width: 87px;
height: 16px;

/* Small */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Price */

margin: 0 auto;
width: 300px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* 1.499.990 kr. */

position: absolute;
width: 289px;
height: 21px;
left: 3px;
top: 0px;

/* Body */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

color: #000000;



/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 15px;
gap: 10px;

margin: 0 auto;
width: 300px;
height: 44px;

background: #FEFEFE;
border: 1px solid #6F4E37;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* SETJA Í KÖRFU */

margin: 0 auto;
width: 98px;
height: 24px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

color: #3C2A1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Product card */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 15px;
gap: 10px;

width: 330px;
height: 360px;

background: #FFFFFF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Product image */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 35px 0px;
gap: 10px;

margin: 0 auto;
width: 300px;
height: 160px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* markus-spiske-iar-afB0QQw-unsplash 1 */

margin: 0 auto;
width: 383px;
height: 256px;

background: url(markus-spiske-iar-afB0QQw-unsplash.jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

margin: 0 auto;
width: 300px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Matrixið */

position: absolute;
width: 297px;
height: 32px;
left: 3px;
top: 0px;

/* Card heading */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 32px;
/* identical to box height, or 145% */

color: #000000;



/* Tags */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 300px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* New */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px;
gap: 10px;

width: 38px;
height: 26px;

background: #E1CEC2;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Nýtt */

width: 28px;
height: 16px;

/* Small */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* New */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px;
gap: 10px;

width: 109px;
height: 26px;

background: #E1CEC2;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ekki fyrir róbóta */

width: 99px;
height: 16px;

/* Small */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Price */

margin: 0 auto;
width: 300px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* 299.999.999.499.990 kr. */

position: absolute;
width: 289px;
height: 21px;
left: 3px;
top: 0px;

/* Body */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

color: #000000;



/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 15px;
gap: 10px;

margin: 0 auto;
width: 300px;
height: 44px;

background: #FEFEFE;
border: 1px solid #6F4E37;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* SETJA Í KÖRFU */

margin: 0 auto;
width: 98px;
height: 24px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

color: #3C2A1E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Product card */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 15px;
gap: 10px;

width: 330px;
height: 360px;

background: #FFFFFF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Product image */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 35px 0px;
gap: 10px;

margin: 0 auto;
width: 300px;
height: 160px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* alex-knight-2EJCSULRwC8-unsplash 1 */

margin: 0 auto;
width: 318px;
height: 212px;

background: url(alex-knight-2EJCSULRwC8-unsplash.jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

margin: 0 auto;
width: 300px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Vinalegur vinnuróbot */

position: absolute;
width: 297px;
height: 32px;
left: 3px;
top: 0px;

/* Card heading */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 32px;
/* identical to box height, or 145% */

color: #000000;



/* Tags */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 300px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* New */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px;
gap: 10px;

width: 38px;
height: 26px;

background: #E1CEC2;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Nýtt */

width: 28px;
height: 16px;

/* Small */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* New */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px;
gap: 10px;

width: 97px;
height: 26px;

background: #E1CEC2;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ekki fyrir börn */

width: 87px;
height: 16px;

/* Small */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Price */

margin: 0 auto;
width: 300px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* 1.499.990 kr. */

position: absolute;
width: 289px;
height: 21px;
left: 3px;
top: 0px;

/* Body */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

color: #000000;



/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 15px;
gap: 10px;

margin: 0 auto;
width: 300px;
height: 44px;

background: #FEFEFE;
border: 1px solid #6F4E37;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* SETJA Í KÖRFU */

margin: 0 auto;
width: 98px;
height: 24px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

color: ;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
